<?xml version="1.0" encoding="utf-8"?>
<manifest package="amrabed.android.release.evaluation"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".app.ApplicationEvaluation"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="@string/backup_api_key"/>

        <receiver android:name=".db.DatabaseTimer"/>

        <receiver android:name=".utilities.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service android:name=".db.DatabaseUpdater"/>
        <service android:name=".utilities.Notifier"/>
        <!-- <service android:name=".DatabaseSync" /> -->


        <!-- <receiver android:name=".InternetDetector" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.net.wifi.supplicant.CONNECTION_CHANGE" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->

        <activity
            android:name=".ActivityMain"
            android:configChanges="locale|keyboardHidden|orientation|screenSize|screenLayout|layoutDirection"
            android:label="@string/title_main"/>
        <activity
            android:name=".MainActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize|screenLayout|layoutDirection"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>