<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="amrabed.android.release.evaluation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".MuslimDay"
        android:allowBackup="true"
        android:backupAgent="amrabed.android.release.evaluation.utilities.backup.BackupAgent"
        android:fullBackupContent="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/icon"
        android:label="@string/appName"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="@string/backup_api_key" />

        <activity
            android:name=".LauncherActivity"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <activity
            android:name=".EditActivity"
            android:label="@string/editList"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.LocaleActionBar" />

        <receiver android:name=".utilities.notification.DailyReminder" />
        <receiver android:name=".utilities.notification.TaskReminder" />
        <receiver android:name=".utilities.notification.TaskReminder$ActionHandler" />
        <receiver android:name=".utilities.notification.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>