<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="amrabed.android.release.evaluation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>

    <application
        android:name="amrabed.android.release.evaluation.app.ApplicationEvaluation"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
         <meta-data
             android:name="com.google.android.backup.api_key"
             android:value="@string/backup_api_key"/>

        <receiver android:name=".db.DatabaseTimer" />

        <service android:name=".db.DatabaseUpdater" />
        <!-- <service android:name=".DatabaseSync" /> -->


        <!-- <receiver android:name=".InternetDetector" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.net.wifi.supplicant.CONNECTION_CHANGE" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->

        <activity
            android:name=".ActivityMain"
            android:configChanges="locale|keyboardHidden|orientation|screenSize|screenLayout|layoutDirection"
            android:label="@string/title_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityEdit"
            android:configChanges="locale|keyboardHidden|orientation|screenSize|screenLayout|layoutDirection"
            android:label="@string/menu_edit" >
        </activity>
        <activity
            android:name=".ActivityGuide"
            android:configChanges="locale|keyboardHidden|screenSize|screenLayout|layoutDirection"
            android:label="@string/menu_guide" >
        </activity>
        <activity
            android:name=".ActivityGuide$DetailsActivity"
            android:configChanges="locale|keyboardHidden|screenSize|screenLayout|layoutDirection"
            android:label="@string/menu_guide" >
        </activity>

        <activity
            android:name=".ActivityPreferences"
            android:configChanges="locale|keyboardHidden|orientation|screenSize|screenLayout|layoutDirection"
            android:label="@string/menu_settings" >
        </activity>
        <activity
            android:name=".ActivityProgress"
            android:configChanges="locale|keyboardHidden|orientation|screenSize|screenLayout|layoutDirection"
            android:label="@string/menu_progress" >
        </activity>
    </application>

</manifest>